<div class="contents">
    <!--  -->
    <div class="panel pd-none">
        <div class="panel-body pd-none">
            <div class="row" ng-init="$show=false">
                <div ng-class="{'col-md-6':$show,'col-md-3':!$show}" class="bd-r pd-t-10 pd-r-10 pd-b-10 pd-l-40">
                    <div class="col-md-12 pd-t-10 pd-r-20">
                        <div class="input-group-checkbox pull-right">
                            <label>
                                <input type="checkbox" ng-model="$show">
                                <span class="bar" text-open="显示" text-close="隐藏">
                                    <span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div ng-class="{'col-md-6':$show,'col-md-12':!$show}" class="pd-t-10 pd-r-20 pd-b-10 pd-l-10">
                        <div>代军第 00206509</div>
                        <div class="font-12 color-13">
                            高级工程师Ａ
                            <br>
                            <br> 纳税地：
                            <i class="glyphicon glyphicon-map-marker"></i> 深圳
                            <br> 社保地：
                            <i class="glyphicon glyphicon-map-marker"></i> 深圳
                        </div>
                    </div>
                    <div ng-show="$show" class="col-md-6 pd-t-10 pd-r-10 pd-b-20 pd-l-20 font-12 color-13 bd-l">
                        发薪帐户：6225 **** **** *789
                        <br> 补助帐户：420202**********19
                        <br> 华为国际帐户：--
                        <br> 社保帐户：420202**********19
                        <br> 公积金帐户：420202**********19
                    </div>
                </div>
                <div ng-class="{'col-md-6':$show,'col-md-9':!$show}" class="pd-t-30 pd-r-40 pd-b-10 pd-l-40">
                    <div class="input-group mg-t-10">
                        <span>年度查询</span>
                        <select name="" id="">
                            <option value="2016">2014</option>
                            <option value="2016">2015</option>
                            <option value="2016" selected>2016</option>
                            <option value="2016">2017</option>
                        </select>
                        <button>查询</button>
                    </div>
                    <div>
                        <p class="text-right font-12 color-13">数据截止时间：2017/03/01</p>
                        <p class="font-12 color-red" style="text-indent: -7em;padding-left:7em;">汇率使用说明：以下金额涉及汇率转换的，均统一使用查询年度12月31日的公司汇率，与您实际支付所使用的汇率有所差异。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="null-spacer"></div>
    <!--  -->
    <div class="panel">
        <div id="001" name="001" class="panel-header">
            <h3>年度总收入（税前）</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5 pd-t-40">
                    <div id="chartAnnual" style="height: 232px; background-color: #f1f1f1;"></div>
                </div>
                <div class="col-md-7">
                    <div class="list-gross mux" style="width:420px;">
                        <div class="title">年度总收入（税前）<span class="pull-right font-18 color-01 strong">CNY 840,000.00</span></div>
                        <ul>
                            <li>
                                <a>
                                    <i class="glyphicon glyphicon-credit-card block-05"></i>
                                    <span style="width: 5em;">工资</span>
                                    <span class="color-13 text-right pd-r-10" style="width:3em;">15%</span>
                                    <span class="pull-right text-center block-b" style="width: 10em;">CNY 240,000.00</span>
                                    <span class="pull-right text-center block-y" style="width: 10em;">CNY 240,000.00</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="glyphicon glyphicon-usd block-04"></i>
                                    <span style="width: 5em;">津贴补助</span>
                                    <span class="color-13 text-right pd-r-10" style="width:3em;">15%</span>
                                    <span class="pull-right text-center block-b" style="width: 10em;">CNY 240,000.00</span>
                                    <span class="pull-right text-center block-y" style="width: 10em;">CNY 240,000.00</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="glyphicon glyphicon-piggy-bank block-03"></i>
                                    <span style="width: 5em;">奖金</span>
                                    <span class="color-13 text-right pd-r-10" style="width:3em;">15%</span>
                                    <span class="pull-right text-center block-b" style="width: 10em;">CNY 240,000.00</span>
                                    <span class="pull-right text-center block-y" style="width: 10em;">CNY 240,000.00</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="glyphicon glyphicon-equalizer block-02"></i>
                                    <span style="width: 5em;">TUP</span>
                                    <span class="color-13 text-right pd-r-10" style="width:3em;">15%</span>
                                    <span class="pull-right text-center block-b" style="width: 10em;">CNY 240,000.00</span>
                                    <span class="pull-right text-center block-y" style="width: 10em;">CNY 240,000.00</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="glyphicon glyphicon-gift block-01"></i>
                                    <span style="width: 5em;">福利</span>
                                    <span class="color-13 text-right pd-r-10" style="width:3em;">15%</span>
                                    <span class="pull-right text-center block-b" style="width: 10em;">CNY 240,000.00</span>
                                    <span class="pull-right text-center block-y" style="width: 10em;">CNY 240,000.00</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="glyphicon glyphicon-blackboard block-13"></i>
                                    <span style="width: 5em;">其它</span>
                                    <span class="color-13 text-right pd-r-10" style="width:3em;">15%</span>
                                    <span class="pull-right text-center block-b" style="width: 10em;">CNY 240,000.00</span>
                                    <span class="pull-right text-center block-y" style="width: 10em;">CNY 240,000.00</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="002" name="002" class="panel-header">
            <h3>工资（税前）</h3>
        </div>
        <div class="panel-body">
            <div class="title title-lg text-center"><img src="../../../themes/default/images/img_01.png" alt="" class="mg-r-10"><span class="mg-r-10">全年总收入（税前）</span><span class="font-18 color-01 strong mg-r-20">CNY 840,000.00</span><a class="a-01 font-12">查看您的月度工资明细</a></div>
            <div class="html-content">
                <p>您的工资是基于您的岗位职责和贡献所支付的，并且已经贴心的考虑了您的一日三餐和上下班交通等日常生活支出。同时我们会通过定期的市场调研，确保您工资水平的竞争力哦！</p>
            </div>
        </div>
        <div id="003" name="003" class="panel-header">
            <h3>津贴补助</h3>
        </div>
        <div class="panel-body">
            <div class="title title-lg text-center"><span class="mg-r-10">全年津贴补助总收入</span><span class="font-18 color-01 strong mg-r-20">CNY 840,000.00</span></div>
            <div class="html-content mg-l-20">
                <p class="font-14 color-13">您的津贴补助包括以下：</p>
            </div>
            <div class="row mg-l-20">
                <div class="col-md-7">
                    <ng-charts-column class="mg-l-20" ng-data="data_subsidy"/>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <div class="list">
                        <ul>
                            <li>
                                <div class="list-item">
                                    <span class="font-12 color-13">体现您的岗位独特价值和贡献</span>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <span class="font-12 color-13">为您外派提供的补助</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="004" name="004" class="panel-header">
            <h3>奖金</h3>
        </div>
        <div class="panel-body">
            <div class="title title-lg text-center"><span class="mg-r-10">全年（发放）各项奖金总收入</span><span class="font-18 color-01 strong mg-r-20">CNY 840,000.00</span></div>
            <div class="html-content mg-l-20">
                <p class="font-14 color-13">公司实行获取分享的奖金制度，也就是说您的奖金是靠自己的贡献挣来的哦！您的奖金包括以下：</p>
            </div>
            <div class="row mg-l-20">
                <div class="col-md-7">
                    <ng-charts-column class="mg-l-20" ng-data="data_bonus"/>
                </div>
                <div class="col-md-2">
                    <div class="list">
                        <ul>
                            <li>
                                <div class="list-item">
                                    <a class="a-01 font-12 mg-r-20">查看月度明细</a>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <a class="a-01 font-12 mg-r-20">查看月度明细</a>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <a class="a-01 font-12 mg-r-20">查看月度明细</a>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <!-- <a class="a-01 font-12 mg-r-20">查看月度明细</a> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <ul>
                            <li>
                                <div class="list-item">
                                    <span class="font-12 color-13">基于您的综合绩效</span>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <span class="font-12 color-13">基于您在项目中的贡献</span>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <span class="font-12 color-13">为您提供日常的激励</span>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <span class="font-12 color-13">根据公司业绩所得奖励</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="005" name="005" class="panel-header">
            <h3>TUP</h3>
        </div>
        <div class="panel-body">
            <div class="title title-lg text-center"><span class="mg-r-10">全年TUP总授予</span><span class="font-18 color-01 strong mg-r-20">CNY 840,000.00</span><a class="a-01 font-12">查看明细</a></div>
            <div class="html-content">
                <p class="font-14 color-13">您的TUP是为了让您与公司共同成长，分享公司长期价值增长而授予的！您的授予情况如下：</p>
            </div>
            <ng-charts-tree ng-data="data_tree" style="height: 258px;"/>
            <div class="html-content">
                <p class="color-12">此为初步数据，您被授予的TUP的具体数量，以您《TUP承诺虑函》和《TUP授予通知单》确定的数据为准。</p>
            </div>
        </div>
        <!--  -->
        <div id="007" name="007" class="panel-header">
            <h3>其它</h3>
        </div>
        <div class="panel-body">
            <div class="title title-lg text-center"><span class="mg-r-10">全年其它收入小计</span><span class="font-18 color-01 strong mg-r-20">CNY 840,000.00</span></div>
            <div class="html-content mg-l-20">
                <p class="font-14 color-13">您的其它收入包括以下：</p>
            </div>
            <div class="row mg-l-20">
                <div class="col-md-7">
                    <ng-charts-column class="mg-l-20" ng-data="data_other"/>
                </div>
                <div class="col-md-2">
                    <div class="list">
                        <ul>
                            <li>
                                <div class="list-item">
                                    <a class="a-01 font-12 mg-r-20">查看月度明细</a>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <a class="a-01 font-12 mg-r-20">查看月度明细</a>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <!-- <a class="a-01 font-12 mg-r-20">查看月度明细</a> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <ul>
                            <li>
                                <div class="list-item">
                                    <span class="font-12 color-13">根据公司规定为您加班时间支付的工资</span>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <span class="font-12 color-13">主要是对您休假余额的结算</span>
                                </div>
                            </li>
                            <li>
                                <div class="list-item">
                                    <span class="font-12 color-13">您离开公司时公司给您的离职补尝</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="006" name="006" class="panel-header">
            <h3>福利</h3>
        </div>
        <div class="panel-body">
            <div class="title title-lg text-center"><span class="mg-r-10">全年为您提供的（可货币化的）福利价值合计</span><span class="font-18 color-01 strong mg-r-20">CNY 840,000.00</span><a class="a-01 font-12">查看明细</a></div>
            <div class="html-content">
                <p class="font-14 color-13">我们为您提供的福利包括以下内容</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center">
                            <img src="../../../themes/default/images/img_11.png" alt="">
                            <p class="font-14 no-indent">保险</p>
                        </div>
                        <div class="mg-10">
                            <p class="no-indent color-12">
                                <span class="color-14">社会保险：</span>为了让您可以享受国家社保机构所提供的保障待遇，公司为您缴纳了法定社保（包含养老保险、医疗保险、生育保险、工伤保险、失业保险和住房公积金）。
                                <br>
                                <a class="a-01 font-12">查看缴费明细和待遇享受指南</a>
                            </p>
                            <p class="no-indent color-12">
                                <span class="color-14">商业保险：</span>为了让您可以在法定社保之外可以获得合理的补充保障，无后顾之忧，公司为您购买了商业保险（包含意外险、重大疾病险、寿险，如出差外派海外，还能享受商务旅行险）。
                                <br>
                                <a class="a-01 font-12">查看保险待遇和索赔指南</a>
                            </p>
                        </div>
                        <div class="title title-lg text-center"><span class="mg-r-10">公司支出的保险费用包括</span></div>
                        <ng-charts-column ng-data="data_insurance"/>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <img src="../../../themes/default/images/img_12.png" alt="">
                            <p class="font-14 no-indent">外派福利</p>
                        </div>
                        <div class="mg-10">
                            <p class="no-indent color-12">
                                <span class="color-14">体检：</span>为了确保您的身体棒棒，公司为您提供每年一次的健康体检，价值高达CNY 1500/次。
                                <br>
                                <a class="a-01 font-12">查看详情</a>
                            </p>
                            <p class="no-indent color-12">
                                <span class="color-14">探亲机票：</span>为了让您在国际派遣时能和家人团聚，公司为您提供了每四个月一套探亲机票。
                                <br>
                                <a class="a-01 font-12">查看您的机票配额详情</a>
                            </p>
                            <p class="no-indent color-12">
                                <span class="color-14">通讯费报销：</span>您因为产生的通讯费用，可在规定制度内报销。
                                <br>
                                <a class="a-01 font-12">查看详情</a>
                            </p>
                            <p class="no-indent color-12">
                                <span class="color-14">免费加/夜班车：</span>考虑到您加班工作的辛苦，公司提供了免费乘坐加/夜班车，把您送到家。
                                <br>
                                <a class="a-01 font-12">查看详情</a>
                            </p>
                            <p class="no-indent color-12">
                                <span class="color-14">加班夜宵补助：</span>您加班后，还可按公司规定获得夜宵补助。
                                <br>
                                <a class="a-01 font-12">查看详情</a>
                            </p>
                            <p class="no-indent color-12">
                                <span class="color-14">弹性工作时间：</span>根据您的工作性质，您可以按照公司规定适用弹性工作时间。
                                <br>
                                <a class="a-01 font-12">查看详情</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-scrollBar">
    <ul>
        <li class="active">
            <a href="#001">年度总收入</a>
        </li>
        <li>
            <a href="#002">工资</a>
        </li>
        <li>
            <a href="#003">津贴补助</a>
        </li>
        <li>
            <a href="#004">奖金</a>
        </li>
        <li>
            <a href="#005">TUP</a>
        </li>
        <li>
            <a href="#006">福利</a>
        </li>
        <li>
            <a href="#007">其它</a>
        </li>
        <li>
            <a class="goTop"><i class="glyphicon glyphicon-arrow-up"></i> TOP</a>
        </li>
    </ul>
</div>
